html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  color: #777;
  background: #fff;
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alegreya Sans", sans-serif;
}
h1 {
  font-size: 3em;
  line-height: 1.2em;
  margin: 0 0 0.8em;
}
h2 {
  font-size: 1.8em;
  line-height: 1.4em;
  margin: 0 0 0.8em;
}
h3 {
  font-size: 1.4em;
  line-height: 1.4em;
}
h4 {
  font-size: 1.25em;
  line-height: 1.4em;
}
h5 {
  font-size: 1.1em;
  line-height: 1.4em;
}
h6 {
  font-size: 1em;
  line-height: 1.2em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

#About {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("service/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200;
  font-family: "poppins", sans-serif;
}
